body {
    background-color: darkblue;
    background-image: url("../img/i.png");
}

h2 {
    color: brown;
}

input {
    text-indent: 10px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 100px;
    outline: none;
}

img {
    width: 50px;
}


#dangNhap {
    outline: 4px solid #000;
    outline-offset: 12px;
    border: 5px solid chocolate;
    border-radius: 100px;
    font-size: 25px;
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 350px;
    text-align: center;
    background-color: rgb(110, 11, 202);
    height: auto;
    width: 500px;
}

#chonDangKy {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkmagenta;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: crimson;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400);

.snip1479 {
    border: none;
    background-color: #5666a5;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 15px 30px;
    line-height: 46px;
    font-weight: 400;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    border-radius: 23px;
    letter-spacing: 2px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1479:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.snip1479:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #5666a5;
    content: '';
    border-radius: inherit;
}

.snip1479:hover,
.snip1479.hover {
    background-color: #5666a5;
    color: #ffffff;
}

.snip1479:hover:before,
.snip1479.hover:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.25;
}