body {
    background-image: url("../img/thangCuoc.png");
}

#nhanVat {
    text-align: center;
    margin-top: 400px;
}

img {
    width: 300px;
}

#name {
    font-size: 50px;
    color: aquamarine;
}